{% extends "header.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
{{error}}
<form method="post" action="">
    {% csrf_token %}
    <div class="input_data">
        <div class="mb-3">
            <tr>
                <th><label for="id_login">Login:</label></th>
                <td>
                <input type="text" name="login" maxlength="50" id="id_login">
                </td>
            </tr>
        </div>
        
        <div class="mb-3">
            <tr>
                <th><label for="id_password">Password:</label></th>
                <td>
                <input type="password" name="password" maxlength="255" id="id_password">
                </td>
            </tr>
        </div>
    <input type="submit" value="Войти" />
</form>
{% endblock %}